In [1]:
import os
import pandas as pd
import numpy as np
from glob import glob
from tqdm import tqdm

In [2]:
test = pd.read_csv("D:/code_classification/test.csv")

temp = pd.concat([test.code1, test.code2], ignore_index=True)

re_test = pd.DataFrame(data={"code": temp})

re_test.drop_duplicates("code", inplace=True)

re_test.reset_index(drop=True, inplace=True)

re_test["id"] = re_test.index

code2id = {}
for code, ids in zip(re_test["code"], re_test["id"]):
    code2id[code] = ids

test["id1"] = test["code1"].apply(lambda x: code2id[x])
test["id2"] = test["code2"].apply(lambda x: code2id[x])

In [3]:
re_test

                                                    code     id
0      def main():\n  s = input()\n  if s.count('a') ...      0
1      N,K,Q = map(int,input().split())\npoints = [0]...      1
2      from itertools import combinations\nn = int(in...      2
3      a,b=map(int,input().split())\n\nans1=a+b\nans2...      3
4      S = input()\nK = int(input())\n\nind = -1\nfor...      4
...                                                  ...    ...
85531  m,d = map(int, input().split())\nans = 0\n\n\n...  85531
85532  import sys\nreadline = sys.stdin.readline\nsys...  85532
85533  f=lambda:map(int,input().split())\nn=int(input...  85533
85534  def main():\n    n = int(input())\n    d = lis...  85534
85535  N=int(input())\nL=[0 for i in range(N+1)]\n\nf...  85535

[85536 rows x 2 columns]

In [ ]:
for e, code in enumerate(re_test["code"]):
    with open(f"D:/open/simple_test/code_{e}.py", "wt", encoding='utf-8') as f:
        f.write(code)

In [7]:
%%capture
codes = sorted(glob(f"D:/open/simple_test/code_*.py"))
for e, code in enumerate(codes):
    !2to3 -w {code}

In [3]:
test

,pair_id,code1,code2,id1,id2
0,1,def main():\n s = input()\n if s.count('a') ...,"N,K = map(int,input().split())\nA = list(map(i...",0,99537
1,2,"N,K,Q = map(int,input().split())\npoints = [0]...","N, K, Q = map(int,input().split())\n\nif K > Q...",1,179701
2,3,from itertools import combinations\nn = int(in...,s = input()\nt = input()\nlength_s = len(s)\nl...,2,179702
3,4,"a,b=map(int,input().split())\n\nans1=a+b\nans2...","a, b, c, d = map(int,input().split())\n\nif a ...",3,94209
4,5,S = input()\nK = int(input())\n\nind = -1\nfor...,"H, W = map(int, input().split())\ngrid = []\nf...",4,39985
...,...,...,...,...,...
179695,179696,N = int(input())\nS = input()\nS_rep = S.repla...,N = int(input())\nS = list(input())\n\nrow = [...,179695,11137
179696,179697,import sys\ndef input(): return sys.stdin.read...,"h,w,a,b = (int(i) for i in input().split())\nf...",179696,194008
179697,179698,"a = list(map(int, input().split()))\n\na1 = ab...","print('YNEOS'[sorted(input().split())!=['1','4...",630,183107
179698,179699,"\n\nH,W,A,B = map(int,input().split())\n\ns = ...","h, w, a, b = map(int, input().split())\nmat = ...",179698,256524
179699,179700,"from collections import deque\n\nn, k = map(in...",# https://atcoder.jp/contests/abc099/tasks/abc...,794,182482

In [3]:
from code_function import preprocess_script, make_dataset, reduction_dataset, indentation
simple_test = glob(f"D:/open/simple_test/code_*.py")

id2data = {}
for data in tqdm(simple_test):
    ids = os.path.basename(data).split("_")[-1].split(".")[0]
    preprocessed_script = preprocess_script(data)
    preprocessed_script = indentation(preprocessed_script)
    id2data[ids] = preprocessed_script

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 85536/85536 [08:06<00:00, 175.84it/s]

In [4]:
test["code1"] = test["id1"].apply(lambda x : id2data[str(x)])
test["code2"] = test["id2"].apply(lambda x : id2data[str(x)])

In [5]:
test

,pair_id,code1,code2,id1,id2
0,1,def main():\n\ts = input()\n\tif s.count('a') ...,"N,K = list(map(int,input().split()))\nA = list...",0,35911
1,2,"N,K,Q = list(map(int,input().split()))\npoints...","N, K, Q = list(map(int,input().split()))\nif K...",1,51411
2,3,from itertools import combinations\nn = int(in...,s = input()\nt = input()\nlength_s = len(s)\nl...,2,51412
3,4,"a,b=list(map(int,input().split()))\nans1=a+b\n...","a, b, c, d = list(map(int,input().split()))\ni...",3,34567
4,5,S = input()\nK = int(input())\nind = -1\nfor i...,"H, W = list(map(int, input().split()))\ngrid =...",4,17597
...,...,...,...,...,...
179695,179696,N = int(input())\nS = input()\nS_rep = S.repla...,N = int(input())\nS = list(input())\nrow = [0]...,51408,5654
179696,179697,import sys\ndef input(): return sys.stdin.read...,"h,w,a,b = (int(i) for i in input().split())\nf...",51409,57863
179697,179698,"a = list(map(int, input().split()))\na1 = abs(...","print(('YNEOS'[sorted(input().split())!=['1','...",493,53011
179698,179699,"H,W,A,B = list(map(int,input().split()))\ns = ...","h, w, a, b = map(int, input().split())\nmat = ...",51410,75221
179699,179700,"from collections import deque\nn, k = list(map...",import sys\nread = sys.stdin.readline\ndef rea...,604,52729

In [6]:
test.drop(columns= ["id1", "id2"], inplace=True)
test.to_csv("D:/code_classification/indent_test.csv", index=False)